# 2018년 3월 28일 점프투파이썬 2장
## 테스트
- 숫자형 
    1. 기능1
    2. 기능2
- 문자형
- 리스트

1.숫자형
2.문자열

In [ ]:
print("3번째 수업")

In [3]:
123

123

# 1절 숫자형

In [6]:
123

123

In [7]:
456

456

In [8]:
1+2

3

In [9]:
1*3

3

In [10]:
-7/4

-1.75

In [11]:
7//4

1

In [13]:
7%4

3

In [14]:
1-0.9

0.09999999999999998

### lab 1
##### 수익 계산

In [36]:
revenue=98456
cost=450000
profit = revenue - cost
print(profit)

-351544

# 2절 문자열

In [16]:
boy="I am a boy"
boy

'I am a boy'

In [17]:
girl='I am a girl'
girl

'I am a girl'

In [18]:
friend="""
I am a boy
I am a girl
"""

In [19]:
boy+girl

'I am a boyI am a girl'

In [21]:
boy+' '+girl

'I am a boy I am a girl'

In [22]:
boy*3

'I am a boyI am a boyI am a boy'

In [41]:
# 문자열 인덱싱
a="Life is too short, You need Python"
a[0]+a[10]+a[30]

'Lot'

In [39]:
'Lot'

'Lot'

In [42]:
# 문자열 슬라이싱 a <= : < b
a[12:17]

'short'

In [43]:
a[8:]

'too short, You need Python'

### lab 2 
#### 문자열 다루기

In [48]:
a="20180328sunny"
year=a[:4]
month=a[4:6]
day=a[6:8]
weather=a[8:]
print(year,month,day,weather)

2018 03 28 sunny

In [52]:
"{year}년 {month}월 {day}일 날씨는 {weather}입니다." .format(year=year, month=month, day=day, weather=weather)

'2018년 03월 28일 날씨는 sunny입니다.'

### Lab 3
##### 문자열 포매팅

In [58]:
pi=3.141592
sq_root=1.41429
print(pi, sq_root)

3.141592 1.41429

In [61]:
"Pi is {pi}, and square root of 2 is {sq_root}" .format(pi=pi, sq_root=sq_root)

'Pi is 3.141592, and square root of 2 is 1.41429'

In [ ]:
a="I love Python!"
b="You hate python!"

### 문자열 내장함수

In [67]:
# 글자 개수
a="hobby"
a.count('b')

2

In [69]:
# 위치 알려주기1
a="hobby"
a.find('b')

2

In [68]:
# 위치 알려주기2
a.index('b')

2

In [70]:
#문자열 삽입하기
a=","
a.join("abcd")

'a,b,c,d'

In [72]:
a=","
a.join("금은동")

'금,은,동'

In [73]:
#대문자로
a="I love Python"
a.upper()

'I LOVE PYTHON'

In [75]:
#소문자로
a. lower()

'i love python'

In [78]:
#왼쪽 공백 지우기
a=" hi "
a.lstrip()

'hi'

In [79]:
a.rstrip()

' hi'

In [80]:
a.strip()

'hi'

In [81]:
#문자열 나누기
a="Life is too short"
a.split()

['Life', 'is', 'too', 'short']

## Lab 2 이어서

In [95]:
a="I love Python!"
b="You hate Python!"

In [83]:
a.find('o')

3

In [84]:
b.index('o')

1

In [85]:
a.count('o')

2

In [86]:
a.upper()

'I LOVE PYTHON!'

In [87]:
b.lower()

'you hate python!'

In [88]:
a.split()

['I', 'love', 'Python!']

In [1]:
#변수 a_6에 a의 첫 7문자열로 이루어진 부분 문자열을 할당하시오.
#변수a_6의 문자열을 공백을 이용해서 나눠보시오.
a_6=a(0:7)
a_6.rstrip(:6)

SyntaxError: invalid syntax (<ipython-input-1-bbec145eb8b0>, line 3)

In [5]:
a="I love Python!"

# 3절 리스트