In [6]:
multiline="""life is 
too short"""

In [7]:
print(multiline)

life is
too short

In [8]:
head="Python"

In [9]:
tail="is fun"

In [10]:
head + tail

'Pythonis fun'

In [16]:
a="Life is too short, you need Python"

In [19]:
b=a[0]+a[1]+a[2]+a[3]

In [20]:
b

'Life'

In [22]:
a="20180327Rainy"

In [1]:
a="Pithon"

In [4]:
a[1]

'i'

In [5]:
a[:1]

'P'

In [6]:
a[:1]+a[2:]

'Pthon'

In [7]:
"I eat %s apples."%3

'I eat 3 apples.'

In [8]:
number=3

In [9]:
"I eat %d apples."%number

'I eat 3 apples.'

In [10]:
number=10

In [11]:
day="three"

In [14]:
"I ate %d apples. so I was sick for %s days."%(number,day)

'I ate 10 apples. so I was sick for three days.'

In [1]:
a=[1,2,3]

In [2]:
a

[1, 2, 3]

In [3]:
a[0]

1

In [4]:
a=[1,2,3]

In [5]:
a[2]=4

In [6]:
a

[1, 2, 4]

In [7]:
a[1:2][2]

IndexError: list index out of range

In [11]:
a[1:2]=['a','b','c']

In [12]:
a

[1, 'a', 'b', 'c', 4]

In [13]:
a[1:3]=[]

In [14]:
a

[1, 'c', 4]

In [15]:
a=[1,2,3]

In [16]:
a.append(4)

In [17]:
a

[1, 2, 3, 4]

In [18]:
a=[1,4,3,2]

In [19]:
a.sort()

In [20]:
a

[1, 2, 3, 4]

In [21]:
a=[1,2,3]

In [22]:
a.insert(0,4)

In [23]:
a

[4, 1, 2, 3]

In [24]:
a=[1,2,3]

In [25]:
a.extend([4,5])

In [26]:
a

[1, 2, 3, 4, 5]

In [27]:
b=[6,7]

In [28]:
a.extend(b)

In [29]:
a

[1, 2, 3, 4, 5, 6, 7]

In [32]:
a.pop(0)

1

In [33]:
a=[1,2,3]

In [35]:
a.pop()

3

In [36]:
a={1:'a'}

In [37]:
a[2]='b'

In [38]:
a['name']='pey'

In [39]:
a[3]=[1,2,3]

In [40]:
a

{1: 'a', 2: 'b', 3: [1, 2, 3], 'name': 'pey'}

In [42]:
del a[1]

In [43]:
a

{2: 'b', 3: [1, 2, 3], 'name': 'pey'}

In [44]:
del a[2]

In [45]:
a

{3: [1, 2, 3], 'name': 'pey'}

In [46]:
del a['name']

In [47]:
a

{3: [1, 2, 3]}

In [48]:
a={'name':'pey','phone':'0119993323','birth':'1118'}

In [49]:
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [50]:
a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [51]:
a.values()

dict_values(['pey', '0119993323', '1118'])

In [52]:
a.get('name')

'pey'

In [53]:
a.get('foo','bar')

'bar'

In [54]:
'name' in a

True

In [55]:
'donkey' in a

False

In [56]:
s1=set([1,2,3])

In [57]:
s2=set('HELLO')

In [58]:
s2

{'E', 'H', 'L', 'O'}

In [59]:
s3=set([4,3,1])

In [60]:
s3

{1, 3, 4}

In [61]:
s1=set([1,2,3,4,5,6])

In [62]:
s2=set([4,5,6,7,8,9])

In [63]:
s1&s2

{4, 5, 6}

In [64]:
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [65]:
s1.add(8)

In [66]:
s1

{1, 2, 3, 4, 5, 6, 8}

In [67]:
s1.add(7,9)

TypeError: add() takes exactly one argument (2 given)

In [69]:
s1.update([7,9])

In [70]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [72]:
s1.remove(7)

In [74]:
a=True

In [75]:
b=False

In [76]:
1==1

True

In [77]:
2>1

True

In [78]:
a=[1,2,3,4]

In [80]:
while a:print(a.pop())

4
3
2
1

In [81]:
bool('python')

True

In [82]:
moey=1

In [4]:
money=1

In [5]:
if money:print("택시를 타고 가라")

택시를 타고 가라

In [6]:
x=3

In [7]:
y=2

In [8]:
x>y

True

In [9]:
x<y

False

In [10]:
x==y

False

In [19]:
x!=y

True

In [20]:
money=2000

In [32]:
if money>=3000:print("택시를 타고 가라")
else:print("걸어가라")

걸어가라

In [31]:
if score >=60:message="success"
else:message="failure"

NameError: name 'score' is not defined

In [26]:
pocket=['paper','cellphone','money']

In [28]:
if 'money' in pocket:print("택시를 타고 가라")
else:print("걸어가라")

택시를 타고 가라

In [33]:
pocket=['paper','cellphone']

In [34]:
card=1

In [37]:
if 'money' in pocket:print("택시를 타고 가라")
elif card:print("택시를 타고 가라")
else:print("걸어가라")

택시를 타고 가라

In [38]:
treehit=0

In [41]:
while treehit<10:
    treehit=treehit+1 
    print("나무를 %d번 찍었습니다." % treehit) 
    if treehit==10:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [1]:
a=3
b=4

In [3]:
a**b

81

In [4]:
a=2
b=3

In [5]:
a**b

8

In [6]:
a*b

6

In [9]:
multiline="""
Python is fun"""

In [10]:
print("="*50)

==================================================

In [11]:
print("My program")

My program

In [12]:
a="Life is too short, You need Python"
b="Bong"

In [13]:
a[0]+a[1]+a[2]+a[3]

'Life'

In [14]:
a[0:4]

'Life'

In [15]:
a="Pithon"

In [19]:
a[1]

'i'

In [28]:
"I eat %d apples." %3

'I eat 3 apples.'

In [31]:
"I eat %s apples." %"five"

'I eat five apples.'

In [32]:
number=4
"I eat %d apples." %number

'I eat 4 apples.'

In [35]:
number=10
day="three"
"I ate %d apples. so I was sick for %s days." %(number, day)

'I ate 10 apples. so I was sick for three days.'

In [36]:
"I eat {0} apples".format(5)

'I eat 5 apples'

In [37]:
number=3
day="three"
"I ate {0} apples, so I was sick for {1} days.".format(number, day)

'I ate 3 apples, so I was sick for three days.'

In [42]:
"I ate {number}, so I was sick for {day} days.".format(number=3, day="three")

'I ate 3, so I was sick for three days.'

In [43]:
a=[1,2,3,[1,2,3]]

In [44]:
a[0]

1

In [45]:
a[3][0]

1

In [46]:
a[3][1]

2

In [47]:
money=1
if money:
    print("택시 타라")
else:
    print("걸어 가라")

택시 타라

In [48]:
money=3000
if money>=3000:
    print("택시 타라")
else:
    print("걸어 가라")

택시 타라

In [49]:
money=2000
card=1
if money>=3000 or card:
    print("택시")
else:
    print("걸어")

택시

In [51]:
pocket=['paper','card','cash']
if 'card' in pocket:
    print("택시")
else:
    print("걸어")

택시

In [52]:
if 'money' in pocket:
    print("택시")
elif 'card' in pocket:
    print("택시")
else:
    print("걸어")

택시

In [56]:
#열번 찍어 안넘어가는 나무 없다.
treehit=0
while treehit<10:
    treehit=treehit+1
    print("나무를 %d번 찍었습니다."%treehit)
    if treehit==10:
        print("넘어 갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
넘어 갑니다.

In [ ]:
#while문의 조건문은 treehit<10 이다. = treehit이 10번 보다 작은 동안 while문 안의 문장들은 계속 수행 된다는 의미임.
#또한 treehit을 증가 시키려면 treehit=treehit+1이라는 명령어를 자주 사용한다.

In [1]:
"Error is %d%%."%98

'Error is 98%.'

In [2]:
"I eat %d apples."%4

'I eat 4 apples.'

In [3]:
number=3
day='four'
"I ate %d apples. so i was sick for %s days."%(number,day)

'I ate 3 apples. so i was sick for four days.'

In [9]:
"I ate {number} apples. so I was sick for {day} days".format(number=3,day='three')

'I ate 3 apples. so I was sick for three days'

In [11]:
number=3
day='three'
"I ate {0} apples. So I was sick for {1} days".format(number,day)

'I ate 3 apples. So I was sick for three days'

In [12]:
7%3

1

In [14]:
7//3

2

In [15]:
a=[1,2,3,['apple','banana','candy']]

In [16]:
a[2]=['why','who']

In [17]:
a

[1, 2, ['why', 'who'], ['apple', 'banana', 'candy']]

In [18]:
a={'name':'Insung'}

In [19]:
a['phone']='01071483522'

In [20]:
a

{'name': 'Insung', 'phone': '01071483522'}

In [22]:
treehit=0
while treehit<10:
    treehit=treehit+1
    print("나무 %d번 찍었습니다."%treehit)
    if treehit==10:
        print("나무 넘어갑니다.")

나무 1번 찍었습니다.
나무 2번 찍었습니다.
나무 3번 찍었습니다.
나무 4번 찍었습니다.
나무 5번 찍었습니다.
나무 6번 찍었습니다.
나무 7번 찍었습니다.
나무 8번 찍었습니다.
나무 9번 찍었습니다.
나무 10번 찍었습니다.
나무 넘어갑니다.

In [23]:
coffee=10
money=300
while money:
    print("돈을 받았으니 커피를 줍니다.")
    coffee=coffee-1
    print("남은 커피는 %d개입니다."%coffee)
    if not coffee:
        print("판매중지")
        break

돈을 받았으니 커피를 줍니다.
남은 커피는 9개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피는 8개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피는 7개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피는 6개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피는 5개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피는 4개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피는 3개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피는 2개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피는 1개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피는 0개입니다.
판매중지

In [25]:
a=0
while a<10:
    a=a+1
    if a%2==0:continue

In [28]:
marks=[85,25,10,41,60,80]
number=0
for mark in marks:
    number=number+1
    if mark>=60:
        print("%d번 학생은 합격"%number)
    else:
        print("%d번 학생은 불합격"%number)

1번 학생은 합격
2번 학생은 불합격
3번 학생은 불합격
4번 학생은 불합격
5번 학생은 합격
6번 학생은 합격

In [29]:
a=range(10)

In [30]:
a

range(0, 10)

In [31]:
marks=[40,15,80,20,60]
number=0
for mark in marks:
    number=number+1
    if mark>=60:
        print("%d번 학생은 합격입니다."%number)
    else:
        print("%d번 학생은 불합격"%number)

1번 학생은 불합격
2번 학생은 불합격
3번 학생은 합격입니다.
4번 학생은 불합격
5번 학생은 합격입니다.

In [32]:
a=range(1,11)

In [33]:
a

range(1, 11)

In [36]:
coffee=10
money=300
while money:
    print("커피를 줍니다.")
    coffee=coffee-1
    print("커피 %d잔 남았다"%coffee)
    if not coffee:
        print("판매종료")
        break

커피를 줍니다.
커피 9잔 남았다
커피를 줍니다.
커피 8잔 남았다
커피를 줍니다.
커피 7잔 남았다
커피를 줍니다.
커피 6잔 남았다
커피를 줍니다.
커피 5잔 남았다
커피를 줍니다.
커피 4잔 남았다
커피를 줍니다.
커피 3잔 남았다
커피를 줍니다.
커피 2잔 남았다
커피를 줍니다.
커피 1잔 남았다
커피를 줍니다.
커피 0잔 남았다
판매종료

In [37]:
coffee=10
money=300
while money:
    print("커피 줘라")
    coffee=coffee-1
    print("커피 %d잔 남음"%coffee)
    if not coffee:
        print("판매종료")
        break

커피 줘라
커피 9잔 남음
커피 줘라
커피 8잔 남음
커피 줘라
커피 7잔 남음
커피 줘라
커피 6잔 남음
커피 줘라
커피 5잔 남음
커피 줘라
커피 4잔 남음
커피 줘라
커피 3잔 남음
커피 줘라
커피 2잔 남음
커피 줘라
커피 1잔 남음
커피 줘라
커피 0잔 남음
판매종료

In [39]:
treehit=0
while treehit<10:
    treehit=treehit+1
    print("%d번 찍었습니다."%treehit)
    if treehit==10:
        print("나무 넘어갑니다.")

1번 찍었습니다.
2번 찍었습니다.
3번 찍었습니다.
4번 찍었습니다.
5번 찍었습니다.
6번 찍었습니다.
7번 찍었습니다.
8번 찍었습니다.
9번 찍었습니다.
10번 찍었습니다.
나무 넘어갑니다.

In [43]:
pocket=['paper','note','cellphone']
card=1
if money in pocket:
    print("택시 타라")
elif card:
        print("택시 타라")
else:
        print("걸어 가라")

택시 타라

In [45]:
marks=[31,60,71,80,65]
number=0
for mark in marks:
    number=number+1
    if mark >=60:
        print("%d번 학생은 합격입니다."%number)
    else:
        print("%d번 학생은 불합격입니다."%number)

1번 학생은 불합격입니다.
2번 학생은 합격입니다.
3번 학생은 합격입니다.
4번 학생은 합격입니다.
5번 학생은 합격입니다.

In [1]:
number=3
day="three"
"I ate %d apples. So I was sick for %s days."%(number,day)

'I ate 3 apples. So I was sick for three days.'

In [2]:
"I ate {number} apples. So I was sick for {day} days.".format(number=3,day="three")

'I ate 3 apples. So I was sick for three days.'

In [5]:
coffee=10
money=300
while money:
    print("커피 줘라")
    coffee=coffee-1
    print("커피 %d잔 남았습니다."%coffee)
    if not coffee:
        print("판매종료")
        break

커피 줘라
커피 9잔 남았습니다.
커피 줘라
커피 8잔 남았습니다.
커피 줘라
커피 7잔 남았습니다.
커피 줘라
커피 6잔 남았습니다.
커피 줘라
커피 5잔 남았습니다.
커피 줘라
커피 4잔 남았습니다.
커피 줘라
커피 3잔 남았습니다.
커피 줘라
커피 2잔 남았습니다.
커피 줘라
커피 1잔 남았습니다.
커피 줘라
커피 0잔 남았습니다.
판매종료

In [7]:
marks=[51,80,27,76,100]
number=0
for mark in marks:
    number=number+1
    if mark >=60:
        print("%d번 학생은 합격"%number)
    else:
        print("%d번 학생은 불합격"%number)

1번 학생은 불합격
2번 학생은 합격
3번 학생은 불합격
4번 학생은 합격
5번 학생은 합격

In [8]:
marks=[41,60,71,80,20,40]
number=0
for mark in marks:
    number=number+1
    if mark >=60:
        print("%d번 학생 합격"%number)
    else:
        print("%d번 학생 불합격"%number)

1번 학생 불합격
2번 학생 합격
3번 학생 합격
4번 학생 합격
5번 학생 불합격
6번 학생 불합격

In [9]:
coffee=10
money=300
while money:
    print("커피 줌")
    coffee=coffee-1
    print("커피 %d잔 남음"%coffee)
    if not coffee:
        print("판매 종료")
        break

커피 줌
커피 9잔 남음
커피 줌
커피 8잔 남음
커피 줌
커피 7잔 남음
커피 줌
커피 6잔 남음
커피 줌
커피 5잔 남음
커피 줌
커피 4잔 남음
커피 줌
커피 3잔 남음
커피 줌
커피 2잔 남음
커피 줌
커피 1잔 남음
커피 줌
커피 0잔 남음
판매 종료

In [10]:
treehit=0
while treehit<10:
    treehit=treehit+1
    print("나무 %d번 찍었습니다."%treehit)
    if treehit==10:
        print("나무 넘어갑니다.")

나무 1번 찍었습니다.
나무 2번 찍었습니다.
나무 3번 찍었습니다.
나무 4번 찍었습니다.
나무 5번 찍었습니다.
나무 6번 찍었습니다.
나무 7번 찍었습니다.
나무 8번 찍었습니다.
나무 9번 찍었습니다.
나무 10번 찍었습니다.
나무 넘어갑니다.