In [3]:
from selenium import webdriver

In [4]:
driver=webdriver.Chrome('../driver/chromedriver_win32/chromedriver')
driver.get("http://naver.com")

In [25]:
driver.save_screenshot('../images/001.png')

True

In [5]:
elem_login=driver.find_element_by_id("id")
elem_login.clear()
elem_login.send_keys("insung308")

elem_login=driver.find_element_by_id("pw")
elem_login.clear()
elem_login.send_keys("rightblue3#")

In [6]:
xpath="""//*[@id="frmNIDLogin"]/fieldset/span/input"""
driver.find_element_by_xpath(xpath).click()

In [7]:
driver.get("http://mail.naver.com")

In [8]:
from bs4 import BeautifulSoup

html=driver.page_source
soup=BeautifulSoup(html, 'html.parser')

In [10]:
raw_list=soup.find_all('div','name_ccr(list.from)'
raw_list

SyntaxError: invalid syntax (<ipython-input-10-714126997d3b>, line 2)

In [11]:
driver.close()

In [15]:
driver=webdriver.Chrome('../driver/chromedriver_win32/chromedriver')
driver.get("http://goo.gl/VH1A5t")

In [16]:
gu_list_raw=driver.find_element_by_xpath("""//*[@id="SIGUNGU_NM0"]""")
gu_list=gu_list_raw.find_elements_by_tag_name("option")

In [17]:
gu_names=[option.get_attribute("value")for option in gu_list]
gu_names.remove('')
gu_names

['가평군',
 '고양시',
 '고양시덕양구',
 '고양시일산동구',
 '고양시일산서구',
 '과천시',
 '광명시',
 '광주시',
 '구리시',
 '군포시',
 '김포시',
 '남양주시',
 '동두천시',
 '부천시',
 '성남시',
 '성남시분당구',
 '성남시수정구',
 '성남시중원구',
 '수원시',
 '수원시권선구',
 '수원시영통구',
 '수원시장안구',
 '수원시팔달구',
 '시흥시',
 '안산시',
 '안산시단원구',
 '안산시상록구',
 '안성시',
 '안양시',
 '안양시동안구',
 '안양시만안구',
 '양주시',
 '양평군',
 '여주시',
 '연천군',
 '오산시',
 '용인시',
 '용인시기흥구',
 '용인시수지구',
 '용인시처인구',
 '의왕시',
 '의정부시',
 '이천시',
 '파주시',
 '평택시',
 '포천시',
 '하남시',
 '화성시']

In [18]:
element=driver.find_element_by_id("SIGUNGU_NM0")
element.send_keys(gu_names[0])

In [19]:
xpath="""//*[@id="searRgSelect"]/span"""
element_sel_gu=driver.find_element_by_xpath(xpath).click()

In [20]:
xpath="""//*[@id="glopopd_excel"]/span"""
element_get_excel=driver.find_element_by_xpath(xpath).click()

In [ ]:
import time
from tqdm import tqdm_notebook

for gu in tqdm_notebook(gu_names):
    element=driver.find_element_by_id("SIGUNGU_NM0")
    element.send_keys(gu)
    
    time.sleep(2)
    
    xpath="""//*[@id="searRgSelect"]/span"""
    element_sel_gu=driver.find_element_by_xpath(xpath).click()
    
    time.sleep(1)
    
    xpath="""//*[@id="glopopd_excel"]/span"""
    element_get_excel=driver.find_element_by_xpath(xpath).click()
    
    time.sleep(1)

In [21]:
driver.close()

In [22]:
import pandas as pd
from glob import glob

In [23]:
glob('../data/지역*.xls')

['../data\\지역_위치별(주유소) (1).xls',
 '../data\\지역_위치별(주유소) (10).xls',
 '../data\\지역_위치별(주유소) (11).xls',
 '../data\\지역_위치별(주유소) (12).xls',
 '../data\\지역_위치별(주유소) (13).xls',
 '../data\\지역_위치별(주유소) (14).xls',
 '../data\\지역_위치별(주유소) (15).xls',
 '../data\\지역_위치별(주유소) (16).xls',
 '../data\\지역_위치별(주유소) (17).xls',
 '../data\\지역_위치별(주유소) (18).xls',
 '../data\\지역_위치별(주유소) (19).xls',
 '../data\\지역_위치별(주유소) (2).xls',
 '../data\\지역_위치별(주유소) (20).xls',
 '../data\\지역_위치별(주유소) (21).xls',
 '../data\\지역_위치별(주유소) (22).xls',
 '../data\\지역_위치별(주유소) (23).xls',
 '../data\\지역_위치별(주유소) (24).xls',
 '../data\\지역_위치별(주유소) (3).xls',
 '../data\\지역_위치별(주유소) (4).xls',
 '../data\\지역_위치별(주유소) (5).xls',
 '../data\\지역_위치별(주유소) (6).xls',
 '../data\\지역_위치별(주유소) (7).xls',
 '../data\\지역_위치별(주유소) (8).xls',
 '../data\\지역_위치별(주유소) (9).xls',
 '../data\\지역_위치별(주유소).xls']

In [24]:
stations_files=glob('../data/지역*.xls')
stations_files

['../data\\지역_위치별(주유소) (1).xls',
 '../data\\지역_위치별(주유소) (10).xls',
 '../data\\지역_위치별(주유소) (11).xls',
 '../data\\지역_위치별(주유소) (12).xls',
 '../data\\지역_위치별(주유소) (13).xls',
 '../data\\지역_위치별(주유소) (14).xls',
 '../data\\지역_위치별(주유소) (15).xls',
 '../data\\지역_위치별(주유소) (16).xls',
 '../data\\지역_위치별(주유소) (17).xls',
 '../data\\지역_위치별(주유소) (18).xls',
 '../data\\지역_위치별(주유소) (19).xls',
 '../data\\지역_위치별(주유소) (2).xls',
 '../data\\지역_위치별(주유소) (20).xls',
 '../data\\지역_위치별(주유소) (21).xls',
 '../data\\지역_위치별(주유소) (22).xls',
 '../data\\지역_위치별(주유소) (23).xls',
 '../data\\지역_위치별(주유소) (24).xls',
 '../data\\지역_위치별(주유소) (3).xls',
 '../data\\지역_위치별(주유소) (4).xls',
 '../data\\지역_위치별(주유소) (5).xls',
 '../data\\지역_위치별(주유소) (6).xls',
 '../data\\지역_위치별(주유소) (7).xls',
 '../data\\지역_위치별(주유소) (8).xls',
 '../data\\지역_위치별(주유소) (9).xls',
 '../data\\지역_위치별(주유소).xls']

In [25]:
tmp_raw=[]

for file_name in stations_files:
    tmp=pd.read_excel(file_name, header=2)
    tmp_raw.append(tmp)
    
station_raw=pd.concat(tmp_raw)

In [26]:
station_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 523 entries, 0 to 42
Data columns (total 10 columns):
지역       523 non-null object
상호       523 non-null object
주소       523 non-null object
상표       523 non-null object
전화번호     523 non-null object
셀프여부     523 non-null object
고급휘발유    523 non-null object
휘발유      523 non-null object
경유       523 non-null object
실내등유     523 non-null object
dtypes: object(10)
memory usage: 44.9+ KB

In [27]:
station_raw.head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,구천면주유소,서울 강동구 구천면로 357 (암사동),현대오일뱅크,02-441-0536,N,-,1566,1365,-
1,서울특별시,주)지유에너지직영 오렌지주유소,서울특별시 강동구 성안로 102 (성내동),SK에너지,02-484-6165,N,-,1568,1368,1047
2,서울특별시,GS칼텍스㈜직영 신월주유소,서울 강동구 양재대로 1323 (성내동),GS칼텍스,02-475-2600,N,1885,1569,1369,1020
3,서울특별시,광성주유소,서울 강동구 올림픽로 673 (천호동),S-OIL,02-470-5133,N,-,1588,1388,-
4,서울특별시,대성석유(주)직영길동주유소,서울 강동구 천호대로 1168 (둔촌동),GS칼텍스,02-474-7222,N,1877,1598,1398,1000

In [31]:
stations=pd.DataFrame({'Oil_store':station_raw['상호'],
                       '주소':station_raw['주소'],
                       '가격':station_raw['휘발유'],
                       '셀프':station_raw['셀프여부'],
                       '상표':station_raw['상표']})
stations.head()

          Oil_store    가격      상표 셀프                        주소
0            구천면주유소  1566  현대오일뱅크  N     서울 강동구 구천면로 357 (암사동)
1  주)지유에너지직영 오렌지주유소  1568   SK에너지  N  서울특별시 강동구  성안로 102 (성내동)
2    GS칼텍스㈜직영 신월주유소  1569   GS칼텍스  N    서울 강동구 양재대로 1323 (성내동)
3             광성주유소  1588   S-OIL  N     서울 강동구 올림픽로 673 (천호동)
4    대성석유(주)직영길동주유소  1598   GS칼텍스  N    서울 강동구 천호대로 1168 (둔촌동)

In [32]:
stations['구']=[eachAddress.split()[1] for eachAddress in stations['주소']]
stations.head()

          Oil_store    가격      상표 셀프                        주소    구
0            구천면주유소  1566  현대오일뱅크  N     서울 강동구 구천면로 357 (암사동)  강동구
1  주)지유에너지직영 오렌지주유소  1568   SK에너지  N  서울특별시 강동구  성안로 102 (성내동)  강동구
2    GS칼텍스㈜직영 신월주유소  1569   GS칼텍스  N    서울 강동구 양재대로 1323 (성내동)  강동구
3             광성주유소  1588   S-OIL  N     서울 강동구 올림픽로 673 (천호동)  강동구
4    대성석유(주)직영길동주유소  1598   GS칼텍스  N    서울 강동구 천호대로 1168 (둔촌동)  강동구

In [33]:
stations['구'].unique()

array(['강동구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '서울특별시', '성북구',
       '송파구', '양천구', '영등포구', '강북구', '용산구', '은평구', '종로구', '중구', '중랑구',
       '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '특별시', '강남구'],
      dtype=object)

### 위에 보면 '서울특별시' 와 '특별시'라고 표시 되어있는것이 있음
### 이것은 성동구와 도봉구인데 이것을 예외 처리 해주어야 함

In [34]:
stations[stations['구']=='서울특별시']

         Oil_store    가격     상표 셀프                           주소      구
12  SK네트웍스(주)효진주유소  1699  SK에너지  N  1 서울특별시 성동구 동일로 129 (성수동2가)  서울특별시

In [35]:
stations.loc[stations['구']=='서울특별시', '구']=='성동구'
stations['구'].unique()

array(['강동구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '서울특별시', '성북구',
       '송파구', '양천구', '영등포구', '강북구', '용산구', '은평구', '종로구', '중구', '중랑구',
       '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '특별시', '강남구'],
      dtype=object)

In [36]:
stations[stations['구']=='특별시']

  Oil_store    가격     상표 셀프                        주소    구
6     서현주유소  1524  S-OIL  Y  서울 특별시 도봉구 방학로 142 (방학동)  특별시

In [37]:
stations.loc[stations['구']=='특별시','구']=='도봉구'
stations['구'].unique()

array(['강동구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '서울특별시', '성북구',
       '송파구', '양천구', '영등포구', '강북구', '용산구', '은평구', '종로구', '중구', '중랑구',
       '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '특별시', '강남구'],
      dtype=object)

In [38]:
stations[stations['가격']=='-']

        Oil_store 가격     상표 셀프                          주소     구
18  명진석유(주)동서울주유소  -  GS칼텍스  Y  서울특별시 강동구  천호대로 1456 (상일동)   강동구
13          서강주유소  -  SK에너지  N        서울 마포구 독막로 134 (창전동)   마포구
25          목동주유소  -  S-OIL  N       서울 양천구 목동중앙로 125 (목동)   양천구
34          하나주유소  -  S-OIL  N   서울특별시 영등포구  도림로 236 (신길동)  영등포구
12   (주)에이앤이청담주유소  -  SK에너지  Y    서울특별시 강북구 도봉로 155  (미아동)   강북구
13          새한주유소  -  SK에너지  Y     서울특별시 강북구  도봉로 75 (미아동)   강북구
34        하이웨이주유소  -  S-OIL  N       서울 강서구 공항대로 432 (화곡동)   강서구

In [39]:
stations=stations[stations['가격']!='-']
stations.head()

          Oil_store    가격      상표 셀프                        주소    구
0            구천면주유소  1566  현대오일뱅크  N     서울 강동구 구천면로 357 (암사동)  강동구
1  주)지유에너지직영 오렌지주유소  1568   SK에너지  N  서울특별시 강동구  성안로 102 (성내동)  강동구
2    GS칼텍스㈜직영 신월주유소  1569   GS칼텍스  N    서울 강동구 양재대로 1323 (성내동)  강동구
3             광성주유소  1588   S-OIL  N     서울 강동구 올림픽로 673 (천호동)  강동구
4    대성석유(주)직영길동주유소  1598   GS칼텍스  N    서울 강동구 천호대로 1168 (둔촌동)  강동구

In [40]:
stations['가격']=[float(value) for value in stations['가격']]

In [41]:
stations.reset_index(inplace=True)
del stations['index']

In [42]:
stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 516 entries, 0 to 515
Data columns (total 6 columns):
Oil_store    516 non-null object
가격           516 non-null float64
상표           516 non-null object
셀프           516 non-null object
주소           516 non-null object
구            516 non-null object
dtypes: float64(1), object(5)
memory usage: 24.3+ KB

In [44]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import platform

path="c:/Windows/Fonts/malgun.ttf"
from matplotlib import font_manager, rc
if platform.system()=='Darwin':
    rc('font', family='AppleGothic')
elif platform.system()=='Windows':
    font_name=font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system.. sorry~~~~')